.taskContainer {
    background: repeating-linear-gradient(
        to bottom,
        /* #f3f7d4 0 10px,
        #eea4a4 10px 12px,
        #f3f7d4 12px 23px
         */
         #fafce8 0 10px,
    #fbdcdc 10px 12px,
    #fafce8 12px 23px
      );
  }

  .quickTaskList {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  @media (prefers-color-scheme: dark) {
  .taskContainer,
  .taskContainer * {
    color: #f3f3f3 !important;
  }
  .quickTaskList {
    background: repeating-linear-gradient(
        to bottom,       
         #333 0 10px,
    #8888dd 10px 12px,
    #333 12px 23px
      );
  }

}