  .qtlButton {
    background: #1565c0;
    color: #eee;
    border: 1px solid #ccc;
    padding: 6px 16px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
  }

  .qtlButton:hover {
    background: #fbdcdc;
    color: #222;
    border: 1px solid #888;
  }

  
  .workButton {
    background: #fbbf24;
    color: black;
  }
.taskContainer {
    background: repeating-linear-gradient(
        to bottom,
        /* #f3f7d4 0 10px,
        #eea4a4 10px 12px,
        #f3f7d4 12px 23px
         */
         #fafce8 0 10px,
    #fbdcdc 10px 12px,
    #fafce8 12px 23px
      );
  }

  .quickTaskList {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  @media (prefers-color-scheme: dark) {
  .qtlButton {
    background: #222 !important;
    color: #f3f3f3 !important;
    border: 1px solid #444 !important;
  }
  .qtlButton:hover {
    background: #333 !important;
    color: #fff !important;
    border: 1px solid #666 !important;
  }
  .taskContainer,
  .taskContainer * {
    color: #f3f3f3 !important;
  }
  .quickTaskList {
    background: repeating-linear-gradient(
        to bottom,       
         #333 0 10px,
    #8888dd 10px 12px,
    #333 12px 23px
      );
  }


}